{{ template "before" . }}
{{ template "header" . }}

<main>
  <h1>{{.PageTitle}}</h1>

  <p>Try going back to <a href="/">{{.SiteName}}</a> to find what you're looking for.</p>
</main>

{{ template "footer" . }}
{{ template "after" . }}
