{{ template "before" . }}
{{ template "header" . }}
{{ template "menu" . }}

<main>
  <h1>{{.PageTitle}}</h1>

  <p>Please try again later or go to <a href="/{{.ContextPath}}">{{.SiteName}}</a> to find what you're looking for.</p>
</main>

{{ template "footer" . }}
{{ template "after" . }}
