{{ template "before" . }}
{{ template "header" . }}

<main>
  <h1>{{.PageTitle}}</h1>
  <p>{{.Body}}</p>
  <section>
    {{ template "latest__partial" . }}
  </section>
</main>

{{ template "footer" . }}
{{ template "after" . }}
