{{ template "before" . }}
{{ template "header" . }}

<main>
  <h1>{{.PageTitle}}</h1>
  <p>{{.Body}}</p>
  <p>
    <ul>
      {{ range $post := .Posts }}
      <li>
        {{ $post.CreatedAt.Format "Jan 2, 2006" }} - <a href="{{$post.Slug}}">{{ $post.Title }}</a>
      </li>{{ end }}
    </ul>
  </p>
</main>

{{ template "footer" . }}
{{ template "after" . }}
