{{ template "before" . }}
{{ template "header" . }}

<main>
    <h1>{{.PageTitle}}</h1>
    <h2>{{.PageSubtitle}}</h2>
    {{if eq .Type "post"}}
    <p>
      <b>Posted on:</b> {{.CreatedAt.Format "2006-01-02"}}

      {{if ne .UpdatedAt .CreatedAt}}
        &bull;
        <b>Updated on:</b> {{.UpdatedAt.Format "2006-01-02"}}
      {{end}}
    </p>
    {{end}}

    {{.Body}}

</main>

{{ template "footer" . }}
{{ template "after" . }}
