{{ template "before" . }}
{{ template "header" . }}

<main>
  <h1>{{.PageTitle}}</h1>

  <p>
    I'm an Engineering Lead, based in the UK. I've spent the majority of my professional career focused on front-end web. Recently, I've been branching out and now starting to dabble in back-end and tools development using Go and Rust.
  </p>

  <p>
    This website is mostly just somewhere to experiment with the various things I'm working on and document it.
  </p>

  <p>
    If you want to know more, you can check out the <a href="/about">about page</a> or read some <a href="/blog">blog posts</a>.
  </p>

  <p>
    You can find my code-related artefacts at: 
    <ul>
      <li><a target="_blank" href="https://github.com/nixpig">github.com/nixpig</a></li>
      <li><a target="_blank" href="https://www.npmjs.com/~nixpig">npmjs.com/~nixpig</a></li>
      <li><a target="_blank" href="https://hub.docker.com/u/nixpig">hub.docker.com/u/nixpig</a></li>
      <li><a target="_blank" href="https://crates.io/users/nixpig">crates.io/users/nixpig</a></li>
      <li><a target="_blank" href="https://app.vagrantup.com/nixpig">app.vagrantup.com/nixpig</a></li>
    </ul>
  </p>

  <p>
    I'm not particularly active on the socials, but if that's your thing then you can find me at:
    <ul>
      <li><a target="_blank" href="https://twitter.com/nixpigdev">twitter.com/nixpigdev</a></li>
      <li><a target="_blank" href="https://www.instagram.com/nixpig">instagram.com/nixpig</a> </li>
      <li><a target="_blank" href="https://www.twitch.tv/nixpig">twitch.tv/nixpig</a></li>
      <li><a target="_blank" href="https://www.youtube.com/@nixpig">youtube.com/@nixpig</a></li>
      <li><a target="_blank" href="https://discordapp.com/users/nixpig">discordapp.com/users/nixpig</a></li>
      <li><a target="_blank" href="https://www.reddit.com/user/nixpiglet">reddit.com/user.nixpiglet</a></li>
    </ul>
  </p>

</main>

{{ template "footer" . }}
{{ template "after" . }}
