{{ template "before" . }}
{{ template "header" . }}

<main>
  <h1>{{.PageTitle}}</h1>
  <p>
    This website is mostly just somewhere to experiment with the various things I'm working on and document it.
  </p>
  <p>
    If you want to know more, you can check out the <a href="/about">about page</a> or read some <a href="/blog">blog posts</a>.
  </p>
  <p>
    I'm not particularly active on the socials, but if that's your thing then you can find me at:
    <br>
    <a href="">twitter.com/nixpig</a> &bull; <a href="">instagram.com/nixpig</a> &bull; <a href="">twitch.com/nixpig</a> &bull; <a href="">youtube.com/nixpig</a> &bull; <a href="">discord.com/nixpig</a> &bull; <a href="">reddit.com/nixpig</a>
  </p>
  <p>
    You can find my code-related artefacts at: 
    <br>
    <a href="">github.com/nixpig</a> &bull; <a href="">npmjs.com/nixpig</a> &bull; <a href="">dockerhub.com/nixpig</a> &bull; <a href="">crates.io/nixpig</a> &bull; <a href="">vagrantcloud.com/nixpig</a>

  </p>

</main>

{{ template "footer" . }}
{{ template "after" . }}
