{{ template "before" . }}
{{ template "header" . }}

<main class="main">
  <h1>{{.PageTitle}}</h1>
  <div></div>

  <section class="main__about">
    <h2>About me</h2>
    <aside>
      <div><img src="static/images/profile.svg" width="120" height="150" alt="Picture of nixpig"></div>
      <div>Some aside</div>
    </aside>

    <p>
      I'm a software engineer from the UK, where I'm currently working as an engineering lead.
    </p>

    <p>
      I've spent the majority of my professional career focused on front-end web. Over the past year, I've been more involved in back-end, architecture and tooling.
    </p>

    <p>
      Currently learning <a href="https://github.com/nixpig?tab=repositories&q=&type=&language=rust">Rust</a> and resisting the temptation to <i>rewrite everything</i> in it.
    </p>

    <p>
      This website is mostly just somewhere to experiment with the various things I'm working on and document it.
    </p>

    <p>
      If you want to know more, you can check out the <a href="/about">about page</a> or read some <a href="/blog">blog posts</a>.
    </p>
  </section>

  <hr>

  <div class="main__content">
    <section class="main__content-projects">
      <h2>Side Projects</h2>
      <p>
        Working on a few little open-source side projects.

        <div class="main__content-projects-table">
          <a href="https://github.com/nixpig/corkscrew" target="_blank" class="main__content-projects-cell">
            <h3>🌀 Corkscrew</h3>
            <div class="main__content-projects-description">Configure HTTP requests in YAML and execute from the command line.</div>
            <div class="main__content-projects-language main__content-projects-language--rust">Rust</div>
          </a>

          <a href="https://github.com/nixpig/joubini" target="_blank" class="main__content-projects-cell">
            <h3>🐙 Joubini</h3>
            <div class="main__content-projects-description">Super-simple HTTP reverse proxy for local development.</div>
            <div class="main__content-projects-language main__content-projects-language--rust">Rust</div>
          </a>

          <a href="https://github.com/nixpig/chiton" target="_blank" class="main__content-projects-cell">
            <h3>👀 Chiton</h3>
            <div class="main__content-projects-description">file-watcher...</div>
            <div class="main__content-projects-language main__content-projects-language--go">Go</div>
          </a>
        </div>
      </p>
    </section>

    <section class="main__content-latest">
      <h2>Latest content</h2>
      <p>Some blurb in here...</h2>
      <ul>
        {{ range $post := .Posts }}
        <li>
          {{ $post.CreatedAt.Format "Jan 2, 2006" }} - <a href="{{$post.Slug}}">{{ $post.Title }}</a>
        </li>{{ end }}
      </ul>
    </section>
  </div>
</main>

{{ template "footer" . }}
{{ template "after" . }}
