<nav class="menu">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>{{ range $page := .Pages }}
    <li>
      <a href="/{{$page.Slug}}">{{$page.Title}}</a>
    </li>{{ end }}
    <li>
      <a href="/blog">Blog</a>
    </li>
  </ul>
</nav>
