@import "simple.min.css";

:root {
  --bg: #191919;
  --accent-bg: #212121;
  --text: #faf0e6;
  --text-light: #efefef;
  --border: #898ea4;
  --accent: #bed754;
  --accent-text: var(--bg);
  --code: #e3651d;
  --preformatted: #e3651d;
  --marked: #d81b60;
  --disabled: #e0e0e0;
}

body > header {
  padding-bottom: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 479px) {
    flex-direction: column;
  }
}

.header .sitename {
  font-size: 2rem;
  font-weight: bold;
}

.header .sitename a {
  color: var(--text);
  text-decoration: none;
}

.header .sitename a:hover {
  color: var(--accent);
}
