/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.register__form {
  display: flex;
  flex-direction: column;
}

.register__form-group {
  display: flex;
  flex-direction: row;
}

.register__form-group.register__input-label,
.register__form-group.register__input-field {
  flex-grow: 1;
  flex-basis: 0;
}
