package templates

import "github.com/nixpig/nixpigweb/internal/web/components"


templ Hello(name string) {
	<div>
		@components.Avatar("http://place-hold.it/300")
		@components.Avatar("https://www.npmjs.com/npm-avatar/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdmF0YXJVUkwiOiJodHRwczovL3MuZ3JhdmF0YXIuY29tL2F2YXRhci85M2RhMWQzZTk5NjAzMGVlYmE3ZDY1YTNkMzg2OWY0Yz9zaXplPTQ5NiZkZWZhdWx0PXJldHJvIn0.C6BMvhylPIgcvGHUTEnzs-WoK1-IM0nWjKDjBgchwPw")
		Hello, { name }!
	</div>
}
