{{ template "before" . }}
{{ template "header" . }}
{{ template "menu" . }}

<main>
  <h1>{{.PageTitle}}</h1>
  <h2>{{.PageSubtitle}}</h1>
  <p>
    Index page content in here
  </p>
</main>

{{ template "footer" . }}
{{ template "after" . }}
