<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
  <title>{{ .Title }}</title>
</head>
<body>
  <h1>{{.Title}}</h1>
  <h2>Posts</h2>
  <ul>
    {{ range $post := .Posts }}
    <li>
      <a href="{{$post.Slug}}">{{ $post.Title }}</a>
    </li>{{ end }}
  </ul>
  <h2>Pages</h2>
  <ul>
    {{ range $page := .Pages }}
    <li>
      <a href="{{$page.Slug}}">{{$page.Title}}</a>
    </li>{{ end }}
  </ul>
</body>
</html>
